main {
  width: 80%;
  margin: 0 auto;

  .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: grid;
    gap: 2em;
    justify-items: center;
    margin: 1rem 0;
    .card {
      width: 18rem;
      .card-body {
        background-color: #f3ee8a;
      }
      .typesStyle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}
