<main>
  <div class="container">
    <div *ngFor="let item of pokemonList">
      <div class="card" pokemonBorderCard>
        <img
          class="card-img-top"
          src="{{ item.picture }}"
          alt="{{ item.name }}"
          [style.background-color]="item.types[0] | pokemonTypeColor"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.created | date: "dd/MM/yy" }}</p>
          <div class="typesStyle">
            <div *ngFor="let type of item.types" class="type">
              <button
                class="btn"
                *ngIf="type"
                [style.background-color]="type | pokemonTypeColor"
              >
                {{ type }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
