#main {
  width: 60%;
  margin: 0 auto;
  .listCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .container {
      background-color: rgba(248, 248, 248, 0.979);
      width: 30%;
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-wrap: wrap;
      .card {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        justify-content: space-between;
        align-items: start;
        .pokemon_img {
          img {
            width: 100%;
          }
        }
        .pokemon_info {
          line-height: 5px;
          text-align: center;
          .btn {
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            margin: 1%;
          }
        }
      }
    }
  }
}
