<main id="main">
  <h1>Liste de Pokémons</h1>
  <p class="message" *ngIf="selectPokemon">{{selectPokemonName}}</p>
  <div class="listCard">
    <div *ngFor="let item of pokemonList" class="container" pokemonBorderCard>
      <div class="card" (click)="selectPokemon(item); getId(item.id)" >
        <div class="pokemon_img" >
          <img  src="{{ item.picture }}" alt="{{ item.name }}" />
        </div>
        <div class="pokemon_info">
          <h3>{{ item.name }}</h3>
          <p><small>{{ item.created | date: "dd/MM/yy" }}</small></p>
          <div *ngFor="let type of item.types">
              <button
                class="btn"
                *ngIf="type"
                [style.background-color]="getColorForType(type)"
              >
                {{ type }}
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
